@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(96, 195, 97);
  background: radial-gradient(
    circle,
    rgba(96, 195, 97, 0.9165092062215511) 0%,
    rgb(20, 96, 58) 96%,
    rgb(84, 131, 70) 100%
  );
  min-height: 100vh;
}
